<div class="container">
    <header></header>
    <main></main>
    <nav>
        <ul>
            <li>
                <i class="yo-ico">&#xe6bb;</i>
                <b>首页</b>
            </li>
            <li>
                <i class="yo-ico">&#xe634;</i>
                <b>分类</b>
            </li>
            <li>
                <i class="yo-ico">&#xe6cd;</i>
                <b>值得买</b>
            </li>
            <li>
                <i class="yo-ico">&#xe6af;</i>
                <b>购物车</b>
            </li>
            <li>
                <i class="yo-ico">&#xe736;</i>
                <b>我的当当</b>
            </li>
        </ul>
    </nav>
    <footer></footer>
</div>