<div class="container">
    <main>
        <header class="search_header">
            <div class="logo">
                <a class="iconfont yo-ico" href="###">&#xe694;</a>
            </div>
            <div class="search_box">
                <div class="search">
                    <div class="text_box">
                        <i class="yo-ico">&#xe60a;</i>
                        <input id="keyword" type="text" placeholder="巴拉巴拉，千款4件3折" class="keyword text ">
                    </div>
                </div>
            </div>
            <div class="header_category">
                <a class="yo-ico" href="###">&#xe634;</a>
            </div>
        </header>
        <section class="swiper_box">
            <div class="swiper_container">
                <div class="swiper_wrapper">
                    <div class="swiper_slide"><a href="###"><img src="http://img58.ddimg.cn/86030056505068_y.jpg" alt=""></a></div>
                    <div class="swiper_slide"><a href="###"><img src="http://img61.ddimg.cn/upload_img/00764/111/1242x366-1559537992.jpg" alt=""></a></div>
                    <div class="swiper_slide"><a href="###"><img src="http://img61.ddimg.cn/ddreader/dangebook/zsjyj1242x366.jpg" alt=""></a></div>
                    <div class="swiper_slide"><a href="###"><img src="http://img63.ddimg.cn/upload_img/00626/sxt01/1242-366-21621-1559550906.jpg" alt=""></a></div>
                    <div class="swiper_slide"><a href="###"><img src="http://img63.ddimg.cn/upload_img/00702/B/1242x366_wzh_20190530-1559541406.jpg" alt=""></a></div>
                    <div class="swiper_slide"><a href="###"><img src="http://img63.ddimg.cn/upload_img/00601/111/12423366410748-1559554711.jpg" alt=""></a></div>
                    <div class="swiper_slide"><a href="###"><img src="http://img59.ddimg.cn/116550069612349_y.jpg" alt=""></a></div>
                    <div class="swiper_slide"><a href="###"><img src="http://img62.ddimg.cn/upload_img/00785/ts0604_0610/1242x366-1559530569.jpg" alt=""></a></div>
                </div>
            </div>
        </section>
    </main>
    <nav class="footer_nav clearfix">
        <ul>
            <li>
                <a class="on" href="">
                    <i class="yo-ico">&#xe6bb;</i>
                    <b>首页</b>
                </a>
            </li>
            <li>
                <a href="">
                    <i class="yo-ico">&#xe634;</i>
                    <b>分类</b>
                </a>
            </li>
            <li>
                <a href="">
                    <i class="yo-ico">&#xe6cd;</i>
                    <b>值得买</b>
                </a>
            </li>
            <li>
                <a href="">
                    <i class="yo-ico">&#xe6af;</i>
                    <b>购物车</b>
                </a>
            </li>
            <li>
                <a href="">
                    <i class="yo-ico">&#xe736;</i>
                    <b>我的当当</b>
                </a>
            </li>
        </ul>
    </nav>
    <footer></footer>
</div>